<!-- whisky/templates/whisky/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    <p>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
          <span class="helptext">(150 characters or fewer. Letters, digits and @/./+/-/_ only.)</span>
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </p>
    <p>
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
    </p>
    <p>
        <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
        {{ form.password2 }}
          <span class="helptext">(Enter the same password as before, for verification.)</span>
          <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>

    </p>
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
